body {
    background-color: rgb(59, 59, 59);
    cursor: url(src/cursorIcon.png), auto;
}

#panel {
    position: absolute;
    top: 100px;
    left: 200px;
    box-shadow: 20px 20px rgba(0, 0, 0, 0.299);
}

#links {
    position: absolute;
    right: 400px;
    top: 230px;
}

#canvas {
    background-image: url(src/canvasIcon.png);
    display: block;
    width: 50px;
    height: 50px;
}

#chatgpt {
    background-image: url(src/chatgptIcon.png);
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    top: 20px;
}

#github {
    background-image: url(src/githubIcon.png);
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    top: 40px;
}

#notion {
    background-image: url(src/notionIcon.png);
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    top: 60px;    
}

#twitch {
    background-image: url(src/twitchIcon.png);
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    top: 80px;    
}

#twitter {
    background-image: url(src/twitterIcon.png);
    display: block;
    width: 50px;
    height: 50px; 
    position: relative;
    top: 100px;     
}

#youtube {
    background-image: url(src/youtubeIcon.png);
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    top: 120px;      
}